
/* #region Hero Section*/
.hero-section-about {
  ^position: absolute;
  background-image: url("/about/gentbrugge-dubs.jpg");
  background-size: cover;
  background-position: 1px;
  background-attachment: scroll;
  height: 90vh;
  width: 100%;
  position: relative;
}
.hero-section-about img{
  width:3rem;
}
.hero-section-about::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 200px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)); /* Van transparant naar wit */
}
.hero-section-about::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 200px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)); /* Van transparant naar wit */
}
.hero-content-about{
  display: flex;
  justify-content: center;
  color: white;
  font-size: 10rem;
  font-weight: bold;
  align-items: center;
  width: 80rem;
  margin-inline: auto;
}
.one-about{
  margin-top: 16rem;
  
}
/* #endregion */

.about-columns {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100%;
  margin-bottom: 2rem;
}

.about-rows {
  display: flex;
  position: relative;
  flex-direction: row; 
  align-content: center;
  width: 100%;
  margin-bottom: 2rem;  
}

/* #region First Section (About General */
/* #region General */
.about-card{
 margin: 3rem 0.2rem 0rem 0.2rem;
 width: 33.3%;
 height: 75vh;
 align-content: start;
 border-radius: 5px;
 position: relative;
 cursor: pointer;
 transition: 0.5s ease-in-out;
 background-color: #f0f0f07a;
 color: rgba(255, 255, 255, 0);
}
.about-card::before{
  transform: translateY(1rem)
}

.about-card img{
  position: absolute;
  align-content: center;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  overflow: hidden;
}
.about-header {
  position: relative;
  padding-top: 35vh;
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  text-decoration: unset;
  text-shadow: 2px 2px 2px black;
}
.about-text{
  position: relative;
  font-size: 1.2rem;
  padding: 0 3rem 3rem 3rem;
  width: 100%;
  text-align: center;
  color: white;
  opacity: 0;
}
/* #endregion */

/* #region Hover */
.about-card:hover {
  border-radius: 20px;
  border: solid 3px var(--green);
  width: 100%;
  transform: scaleY(1.05);
  transition: 0.5s ease-in-out;
  background-color: #f0f0f0c9;
  color: rgba(255, 255, 255, 0);
}
.about-card:hover .about-text{
  font-size: 1.2rem;
  width: 100%;
  color: white;
  text-align: center;
  align-content: center;
  transition: ease-in-out 0.7s;
  opacity: 1;
  transition-delay: 0.2s ;
  transform: translateY(-5rem);
}
.about-card:hover .about-header {
  font-size: 2.5rem;
  text-decoration: unset;
  transition: ease-in-out 0.5s;
  transform: translateY(-5rem);
  text-shadow: 0px 0px 0px black;
}
.about-card:hover img{
 border-radius: 18px;
 filter: blur(1px) brightness(0.5) saturate(0.5);
 transition: ease-in-out 0.5s;
}
/* #endregion */
/* #endregion */

/* #region Second Section (Timelne) */

.timeline-rows {
  display: flex;
  flex-direction: row; 
  width: 100%;
  height: 6rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
 }

.timeline-header{
  font-size: 5rem;
  font-weight: bold;
  justify-content: center;
  width: 100%;
  text-align: center;
}
.timeline-button{
  height: 4.5rem;
  width: 12rem;
  font-size: 1.3rem;
  color: black;
  background-color: var(--green);
  border-radius: 20px ;
  font-weight: bold;
  align-content: center;
  text-align: center;
  border: solid 1px greenyellow ;
  box-shadow: black 0 2px 2px;
}

.timeline-section{
  display: flex;
  width: 100%;
  height: 400vh;
  background-color: rgba(128, 128, 128, 0.250);
  border-radius: 50px;
  justify-content: center;
}

.timeline-begin{
  position: absolute;
  height: 4.5rem;
  width: 12rem;
  background-color: var(--green);
  border-radius: 5px;
  align-self: end;
  text-align: center;
}

.timeline-present{
  position: absolute;
  height: 4.5rem;
  width: 12rem;
  background-color: var(--green);
  border-radius: 5px;
  text-align: center;
  align-self: start;

}

.timeline-flexgrid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
  background-color: rgba(25, 50, 25, 0.5);
}
.timeline-card{
  display: flex;
  place-content: center;
  height: fit-content;
  padding: 2rem 0 2rem 0;
  background-color: rgb(92, 93, 108);
  border-radius: 20px;
}  
.timeline-text{
  width: auto;
  height: 10rem;
  aspect-ratio: 2.5 / 1;
  background-color: rgb(0, 62, 128);
  border-radius: 20px;
}
.timeline-img{
  width: auto;
  height: 20rem;
  aspect-ratio: 1.5 / 1;
  background-color: green;
  border-radius: 20px;
}










/* #endregion */