.medium-spacer{
  height: 50vh;
}
.creator-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  place-content: center;
  width: 100%;
  height: 80vh;
}
.creator-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  place-content: center;
  max-width: 80rem;
  margin-inline: auto;
  padding: 1rem;
}
.creator-hero{
  display: flex;
  background-color: rgba(25,25,25,0.5);
  width: 100%;
  place-items: center;
  justify-content: center;
}
.scrolling-background {
  display: flex;
  position: absolute;
  align-items: center;
  place-content: center;
  width: 100%;
  background-color: rgba(25,25,25,0.5);
}
.scrolling-animation {
  display: block;
  padding-left: 80%;
  animation: scroll-left 15s linear infinite;
}
.background-text {
  display: flex;
  flex-direction: column;
  position: absolute;
  place-content: start;
  width: 300%;
  height: 10rem;
  font-size: 10rem;
  color: transparent; 
  -webkit-text-stroke: 2px var(--green); 
  z-index: -1;
}


@keyframes scroll-left {
  0% {
    transform: translateX(-150%);
  }
  100% {
    transform: translateX(-250%);
  }
}
.text-card{
  display: flex;
  align-items: center;
  place-content: center;
  font-size: 1.2rem;
}

.creator-row {
  display: flex;
  flex-direction: column; 
  flex-wrap: wrap;
  place-content: start;
  align-items: start;
  max-height: 50rem;
  width: 100%;
}
.creator-card{
 margin: 1rem 0.2rem 0rem 0.2rem;
 height: 15rem;
 width: 10rem;
 align-content: start;
 border-radius: 5px;
 position: relative;
 cursor: pointer;
 transition: 0.5s ease-in-out;
 background-color: #f0f0f07a;
 color: rgba(255, 255, 255, 0);
}
.creator-card::before{
  transform: translateY(1rem)
}

.creator-card img{
  position: absolute;
  align-content: center;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  overflow: hidden;
}
.creator-header {
  position: relative;
  top: 30%;
  font-size: 1rem;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  text-decoration: unset;
  opacity: 0;

}
.creator-text{
  position: relative;
  font-size: 1rem;
  top: 40%;
  width: 100%;
  text-align: center;
  color: white;
  opacity: 0;
}
.creator-card:hover {
  border-radius: 20px;
  border: solid 3px var(--green);
  transition: 0.5s ease-in-out;
  background-color: #f0f0f0c9;
  color: rgba(255, 255, 255, 0);
}
.creator-card:hover .creator-text{
  width: 100%;
  color: white;
  text-align: center;
  align-content: center;
  transition: ease-in-out 0.7s;
  opacity: 1;
}
.creator-card:hover .creator-header {
  text-decoration: unset;
  transition: ease-in-out 0.5s;
  text-shadow: 0px 0px 0px black;
  opacity: 1;

}
.creator-card:hover img{
 border-radius: 18px;
 filter: blur(5px) brightness(0.5) saturate(0.5);
 transition: ease-in-out 0.5s;
}

.active-image{
  width: 80%;
  height: 50rem;
  background-color: rgba(100, 100, 100, 0.5);
  border-radius: 20px;
}
.creator-card:hover .active-image{
  opacity: 1;
}


.market-image-preview {
  border-radius: 5px;
}
.market-image-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.market-thumbnails img {
  object-fit: cover;
  margin-right: 0.5rem;
  cursor: pointer;
  border-radius: 5px;
  transition: border 0.3s;
}
.market-thumbnails img:hover {
  border: 1px solid #000;
}
#market-large-image.clicked {
  animation: pop 0.3s ease;
}

@keyframes pop {
  0% { transform: scale(1); }
  50% { transform: scale(1.05); }
  100% { transform: scale(1); }
}


.gallery {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}
.rotated-image {
  width: 300px;
  transform: rotate(-10deg);
  transition: transform 0.3s ease;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);  
}
.rotated-image:hover {
  transform: rotate(0deg) scale(1.05);
}