.event{
  margin-inline-start: -3rem;
  margin-top: 1rem;
}
.image-container-events.image-card {
  position: relative;
  width: 43rem;
  height: 37rem; 
  perspective: 1000px;
  padding: 5rem;
}

.event-content{
  margin: 3rem;
  margin-bottom: 4rem;
}
.image-container-events.image-card img {
  margin: 3rem;
  min-width: 20rem;
  max-width: 24rem;
  min-height: 24rem;
  max-height: 30rem;

}
.image-container-events-kosmik.image-card {
  position: relative;
  width: 89rem;
  height: 30rem; 
  perspective: 1000px;
  margin-right: -5rem;
  margin-top: 1rem;
}
.image-container-events-kosmik.image-card img {
  margin: 5rem;
  margin-top: 2rem;
  min-width: 30rem;
  max-width: 34rem; 
  min-height: 24rem;
  max-height: 24rem;
}
.image1.active.front, .image2.back {
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  transition: transform 1s ease-in-out;
}

.image1.active.front {
  display: block; 
  transform: rotateY(0deg); 
 
}

.image2.back {
  transform: rotateY(180deg);
}

.image-container-events.image-card.flipped .image1.active.front {
  transform: rotateY(-180deg);
}

.image-container-events.image-card.flipped .image2.back {
  transform: rotateY(0deg);
}
.image-container-events-kosmik.image-card.flipped .image1.active.front {
  transform: rotateY(-180deg); 
}

.image-container-events-kosmik.image-card.flipped .image2.back {
  transform: rotateY(0deg); 
}
.image-container-events-kosmik.image-card:hover .image1.active.front {
  transform: rotateY(-180deg);
}

.image-container-events-kosmik.image-card:hover .image2.back {
  transform: rotateY(0deg);
}