.market-hero {
  padding-top: 5rem;
  display: flex;
  top:50%;
  width: 100%;
  height: 60vh;
  justify-content: center;
  place-items: center;
  background-color: #1f1f1f;
}
.market-hero img {
    position: relative;
    filter: hue-rotate(180deg) saturate(2);
    transition: ease-in-out 0.5s;
    height: 90vh;
    width: 90%;
    object-fit: cover;
    align-items: center;
    justify-content: center;  
    border-radius: 30px;
    box-shadow: rgb(0, 0, 0) 0 0 20px 10px;
}
.market-hero-sweater{
    top: 10%;
    scale: 0.3;
    width: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
    z-index: 3;
    filter: hue-rotate(180deg) saturate(0.5);
    opacity: 0;
}
.market-sweater-grid{
    display: flex;
    position: absolute;
    align-items: center;
    margin-top: 8rem;
    max-width: 80rem;
    width: 100%;
}
.spacer {
  height: 100vh;
}
.autoShow {
  opacity: 0;
  transform: translateY(3rem) scale(0.9);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  width: 100%;
}
.autoShow.visible {
  opacity: 1;
  transform: translateY(0) scale(1);
}
.market-text-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    text-align: start;
    background: rgba(255, 255, 255, 0.5); 
    backdrop-filter: blur(10px);    
    box-shadow:inset rgb(0, 0, 0, 0.5) 0 0 10px 1px;
    -webkit-backdrop-filter: blur(10px);  
    border-radius: 10px;  
    padding: 2rem;
    width: 29%;
    margin: 1%;
    height: 60vh;
}
.market-sweater-card{
    width: 40%;
    height: 60vh;
    border-radius: 10px;
    
}
.market-sweater-card img{
    height: 50vh;
}
.info-card{
    height: 10rem;
    margin: 0.5rem;
    width: 80%;
    border-radius: 40px;
    padding: 1rem;
    border: solid 2px white;
    background-color: #ffffff50;

}
.info-spacer{
    height: 10rem;
    margin: 0.5rem;
    width: 55%;
    border-radius: 40px;
    padding: 1rem;
}
.market-section{
    width: 100%;
    height: 20vh;
    background-color: rgb(13, 19, 19);
}
/*.product-preview{
    height: 80vh;
    max-width: 80rem;
}*/