.spacer {
  height: 100vh;
}
.hero-spacer{
    height: 5rem;
}
.small-spacer{
    height: 3.4rem;
}
.medium-spacer{
    height: 6rem;
}
.larger-spacer{
    height: 12rem;
}
.hero-spacer{
    height: 1.8rem;
}
.autoShow,
.autoShow2,
.autoShow3 {
  opacity: 0;
  transform: translateY(3rem) scale(0.9);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  transition-delay: 0s; 
}

.visible{
    opacity: 1;
    transform: translateY(0) scale(1);
}

/*.autoShow.visible {
  opacity: 1;
  transform: translateY(0) scale(1);
}*/

.market-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;

}
.market-hoodie-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 80%;
  transform:scaleY(0.9);
  justify-content: center;
  background-size:cover;
  background-image: 
  url('/market-images/hoodie-section-backgrouns.png');
  border-radius: 4.5rem;
}
.market-hoodie-card{
    width: 40%;
    height: 100%;
}
.market-hoodie-info-card{
    display: flex;
    width: 40%;
    height: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.buy-now{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    width: 17rem;
    height: 4rem;
    border-radius: 1rem;
    background-color: blue;
    text-align: center;
    font-size: 2rem;
}
.hoodie-img{
    display: flex;
    align-items: end;
    justify-content: center;
    width: 120%;
    height: 100%;
}
.hoodie-text1{
    font-size: 3.5rem;
    font-weight: bold;
    color: white;
    text-align: center;
    padding: 1rem;
    line-height: 1rem;
}
.hoodie-text2{
    font-size: 5rem;
    font-weight: bold;
    color: white;
    text-align: center;
    padding: 1rem;
    line-height: 5rem;
}


.market-plant-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 80%;
    height: 50rem;
    background-size:cover;
    background-color: rgba(0, 128, 0, 0.167);
    border-radius: 4.5rem;
}
.plant-card-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    width: 28.8rem;
    height: 95%;
    border-radius: 3.7rem;

}
.plant-card1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 16rem;
    background-color: rgb(255, 245, 220);
    border-radius: 3.7rem;

}
.plant-card2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30rem;
    background-color: rgb(255, 245, 220);
    border-radius: 3.7rem;

}

.market-3Dprint-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 80%;
    transform:scaleY(0.8);
    justify-content: center;
    background-size:cover;
    background-color: rgba(25, 25, 25, 0.4);
    border-radius: 4.5rem;
    padding: 3rem
}
.market-3Dprint-card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
    background-color: rgb(255, 245, 220);
    border-radius: 1.5rem;
}

.hover-button {
  position: absolute;
  font-size: 1.3rem;
   padding: 0.5rem 1rem;
  background-color: rgba(0, 128, 0, 0.8); /* greenish button */
  color: white;
  border-radius: 0.5rem;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}
.product-card :hover {
  opacity: 1;
  position: relative;
  transition: transform 0.3s ease;
    transform: scale(1.05);

}
.market-3Dprint-card:hover .hover-button,
.plant-card1:hover .hover-button,
.plant-card2:hover .hover-button {
  opacity: 1;
  transform: translateY(0);
}
